<p id="notice"><%= notice %></p>

<h1>Listing Tables</h1>

<table>
  <thead>
    <tr>
      <th>Num seats</th>
      <th>Restaurant</th>
      <th>X loc</th>
      <th>Y loc</th>
      <th>Available</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @tables.each do |table| %>
      <tr>
        <td><%= table.num_seats %></td>
        <td><%= table.restaurant_id %></td>
        <td><%= table.x_loc %></td>
        <td><%= table.y_loc %></td>
        <td><%= table.available %></td>
        <td><%= link_to 'Show', table %></td>
        <td><%= link_to 'Edit', edit_table_path(table) %></td>
        <td><%= link_to 'Destroy', table, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Table', new_table_path %>
